{% extends "blog/base.html" %}
{% block content %}
<div class="contaner">
	<div class="row">
		<h1>Frequently Asked Questions:</h1>
		<br>
		<br>
		<br>
		<div class="col-sm-12">
			<div>
				<h1 >Q. How do I signup?</h1>
				<p font-size="12px"> Click on the register button on the top of the homepage. </p>
			</div>
			<br>
			<hr>
			<div>
				<h1 >Q. How do I sign in?</h1>
				<p>  The Sign button displays on the top at the homepage.</p>
			</div>
			<br>
			<hr>
			<div>
				<h1>Q. How do I logout?</h1>
				<p> The top bar has a button "logout", which will log you out of your account.</p>
			</div>
			<br>
			<hr>
			<div>
				<h1>Q. How do I comment on a blog?</h1>
				<p> A button displays on the right hand side of the blog.</p>
			</div>
			<br>
			<hr>
		</div>
	</div>
</div>

	






{% endblock content %} -->

