{% extends "blog/base.html" %}
{% block content %}
<div class="contaner" style="font-size: 20px;">
	<div class="row" style="font-size: 20px">
		<h1>Frequently Asked Questions:</h1>
		<br>
		<br>
		<br>	
		<div class="col-sm-12" style="font-style: normal; font-family: times-new-roman">
			<div style="font-family: times-new-roman">
				<h4 >Q. How do I signup?</h4>
				<p>Ans. Click on the register button on the top of the homepage. </p>
			</div>
			<br>
			<hr>
			<div>
				<h4 >Q. How do I sign in?</h4>
				<p>Ans. The Sign button displays on the top at the homepage.</p>
			</div>
			<br>
			<hr>
			<div>
				<h4>Q. How do I logout?</h4>
				<p>Ans. The top bar has a button "logout", which will log you out of your account.</p>
			</div>
			<br>
			<hr>
			<div>
				<h4>Q. How do I comment on a blog?</h4>
				<p>Ans. A button displays on the right hand side of the blog.</p>
			</div>
			<br>
			<hr>
		</div>
	</div>
</div>


	






{% endblock content %} -->

