{% extends "blog/base.html" %}
{% block content %}
	<h1>About Page</h1>
	<h2>FAQS</h2>
	<section class="cd-faq js-cd-faq container max-width-md margin-top-lg margin-bottom-lg">
  <ul class="cd-faq__categories">
    <li><a class="cd-faq__category cd-faq__category-selected truncate" href="#basics">Basics</a></li>
    <li><a class="cd-faq__category truncate" href="#blogs">Blogs</a></li>
    

<div class="cd-faq__items">
    <ul id="basics" class="cd-faq__group">
      <li class="cd-faq__title"><h2>Basics</h2></li>
      <li class="cd-faq__item">
        <a class="cd-faq__trigger" href="#0"><span>How do I logout?</span></a>
        <div class="cd-faq__content">
          <div class="text-component">
            The top bar has a button "logout", which will log you out of your account.
          </div>
        </div> <!-- cd-faq__content -->
      </li>

      <li class="cd-faq__item">
        <a class="cd-faq__trigger" href="#0"><span>How do I sign up?</span></a>
        <div class="cd-faq__content">
          <div class="text-component">
            Click on the register button on the top of the homepage. 
          </div>
        </div> <!-- cd-faq__content -->
      </li>

	  <li class="cd-faq__item">
        <a class="cd-faq__trigger" href="#0"><span>How do I sign in?</span></a>
        <div class="cd-faq__content">
          <div class="text-component">
            The Sign button displays on the top at the homepage. 
          </div>
        </div> <!-- cd-faq__content -->
      </li>

   
  <div class="cd-faq__items">
    <ul id="blogs" class="cd-faq__group">
      <li class="cd-faq__title"><h2>Blogs</h2></li>
      <li class="cd-faq__item">
        <a class="cd-faq__trigger" href="#0"><span>How do I comment?</span></a>
        <div class="cd-faq__content">
          <div class="text-component">
            A button displays on the right hand side of the blog.
          </div>
        </div> <!-- cd-faq__content -->
      </li>
     

  <a href="#0" class="cd-faq__close-panel text-replace">Close</a>

  <div class="cd-faq__overlay" aria-hidden="true"></div>
</section> <!-- cd-faq -->
{% endblock content %}

{% block about %}
<div class="p-4 mb-3 bg-light rounded">
	<h4 class="font-italic">About</h4>
	<p class="mb-0">Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
</div>
{% endblock about %}