{% load static %}
<!DOCTYPE html>
<html>
<head>
	<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="{% static 'blog/main.css' %}">>

    <title>Django</title>
	
</head>
<body>

	<div class="container">
		<header class="site-header">
			<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
				<a class="navbar-brand" href="{% url 'blog-home' %}">Django Blog</a>
			 	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="navbar-toggler-icon"></span>
			  	</button>

			  <div class="collapse navbar-collapse" id="navbarSupportedContent">
			    <ul class="navbar-nav mr-auto">
			      <li class="nav-item active">
			        <a class="nav-link" href="{% url 'blog-home' %}">Home <span class="sr-only">(current)</span></a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="{% url 'blog-about' %}">About</a>
			      </li>     
			    </ul>
			    <form class="form-inline my-2 my-lg-0">
			      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
			      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
			    </form>
			  </div>
			</nav>
		</header>

		<div class="nav-scroller py-1 mb-2">
		    <nav class="nav d-flex justify-content-between">
		      <a class="p-2 text-muted" href="#">World</a>
		      <a class="p-2 text-muted" href="#">U.S.</a>
		      <a class="p-2 text-muted" href="#">Technology</a>
		      <a class="p-2 text-muted" href="#">Design</a>
		      <a class="p-2 text-muted" href="#">Culture</a>
		      <a class="p-2 text-muted" href="#">Business</a>
		      <a class="p-2 text-muted" href="#">Politics</a>
		      <a class="p-2 text-muted" href="#">Opinion</a>
		      <a class="p-2 text-muted" href="#">Science</a>
		      <a class="p-2 text-muted" href="#">Health</a>
		      <a class="p-2 text-muted" href="#">Style</a>
		      <a class="p-2 text-muted" href="#">Travel</a>
		    </nav>
	  	</div>
	  	<main role="main" class="container">
	  		<div class="row">
	        	<div class="col-md-8 blog-main">
	        		{% if messages %}
	        			{% for message in messages %}
	        				<div class="alert alert-{{ message.tags }}">
	        					{{ message }}
	        				</div>
	        			{% endfor %}
	        		{% endif %}
      				<h3 class="pb-4 mb-4 font-italic border-bottom">
        			{% block content %}{% endblock %}
      				</h3>
      				{% block register %}{% endblock %}
			      <nav class="blog-pagination">
			        <a class="btn btn-outline-primary" href="#">Older</a>
			        <a class="btn btn-outline-secondary disabled" href="#" tabindex="-1" aria-disabled="true">Newer</a>
			      </nav>

	    		</div><!-- /.blog-main -->
		    	<aside class="col-md-4">
			        <div class="content-section">
				            <h3>Our Sidebar</h3>
					         <p class='text-muted'>You can put any information here you'd like.
					            <ul class="list-group">
					               <li class="list-group-item list-group-item-light">Latest Posts</li>
					                <li class="list-group-item list-group-item-light">Announcements</li>
					                <li class="list-group-item list-group-item-light">Calendars</li>
					                <li class="list-group-item list-group-item-light">etc</li>
					              </ul>
					         </p>
			         </div>
			         {% block about %}{% endblock %}        			
			    </aside>		        		
		     </div><!-- Row -->
		</main>
	</div><!-- Containor --> 


	
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
 
</body>
</html>